# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
wandb/latest-run
wandb/run-20241029_164746-6k2wx7c7/run-6k2wx7c7.wandb
wandb/run-20241029_164746-6k2wx7c7/files/config.yaml
wandb/run-20241029_164746-6k2wx7c7/files/wandb-metadata.json
wandb/run-20241029_164746-6k2wx7c7/files/wandb-summary.json
wandb/run-20241029_165345-pa73lcwl/run-pa73lcwl.wandb
wandb/run-20241029_165345-pa73lcwl/files/config.yaml
wandb/run-20241029_165345-pa73lcwl/files/wandb-metadata.json
wandb/run-20241029_165345-pa73lcwl/files/wandb-summary.json
wandb/run-20241029_165502-djigpw4n/run-djigpw4n.wandb
wandb/run-20241029_165502-djigpw4n/files/config.yaml
wandb/run-20241029_165502-djigpw4n/files/wandb-metadata.json
wandb/run-20241029_165502-djigpw4n/files/wandb-summary.json
wandb/run-20241029_171451-0ayb42iz/run-0ayb42iz.wandb
wandb/run-20241029_171451-0ayb42iz/files/config.yaml
wandb/run-20241029_171451-0ayb42iz/files/wandb-metadata.json
wandb/run-20241029_171451-0ayb42iz/files/wandb-summary.json
wandb/run-20241029_172501-dru0bm80/run-dru0bm80.wandb
wandb/run-20241029_172501-dru0bm80/files/config.yaml
wandb/run-20241029_172501-dru0bm80/files/wandb-metadata.json
wandb/run-20241029_172501-dru0bm80/files/wandb-summary.json
wandb/run-20241029_172618-w1rfqcj8/run-w1rfqcj8.wandb
wandb/run-20241029_172618-w1rfqcj8/files/config.yaml
wandb/run-20241029_172618-w1rfqcj8/files/wandb-metadata.json
wandb/run-20241029_172618-w1rfqcj8/files/wandb-summary.json
wandb/run-20241029_191156-93y57r87/run-93y57r87.wandb
wandb/run-20241029_191156-93y57r87/files/config.yaml
wandb/run-20241029_191156-93y57r87/files/wandb-metadata.json
wandb/run-20241029_191156-93y57r87/files/wandb-summary.json
wandb/run-20241029_191405-c5h1mk4q/run-c5h1mk4q.wandb
wandb/run-20241029_191405-c5h1mk4q/files/config.yaml
wandb/run-20241029_191405-c5h1mk4q/files/wandb-metadata.json
wandb/run-20241029_191405-c5h1mk4q/files/wandb-summary.json
wandb/run-20241029_191648-89kq2i5x/run-89kq2i5x.wandb
wandb/run-20241029_191648-89kq2i5x/files/config.yaml
wandb/run-20241029_191648-89kq2i5x/files/wandb-metadata.json
wandb/run-20241029_191648-89kq2i5x/files/wandb-summary.json
wandb/run-20241029_192106-9wad6nce/run-9wad6nce.wandb
wandb/run-20241029_192106-9wad6nce/files/config.yaml
wandb/run-20241029_192106-9wad6nce/files/wandb-metadata.json
wandb/run-20241029_192106-9wad6nce/files/wandb-summary.json
wandb/run-20241029_192246-6flz2rcm/run-6flz2rcm.wandb
wandb/run-20241029_192246-6flz2rcm/files/config.yaml
wandb/run-20241029_192246-6flz2rcm/files/wandb-metadata.json
wandb/run-20241029_192246-6flz2rcm/files/wandb-summary.json
wandb/run-20241029_193119-7zbpfxth/run-7zbpfxth.wandb
wandb/run-20241029_193119-7zbpfxth/files/config.yaml
wandb/run-20241029_193119-7zbpfxth/files/wandb-metadata.json
wandb/run-20241029_193119-7zbpfxth/files/wandb-summary.json
wandb/run-20241029_193205-ing4l6kj/run-ing4l6kj.wandb
wandb/run-20241029_193205-ing4l6kj/files/config.yaml
wandb/run-20241029_193205-ing4l6kj/files/requirements.txt
wandb/run-20241029_193205-ing4l6kj/files/wandb-metadata.json
wandb/run-20241029_193205-ing4l6kj/files/wandb-summary.json
wandb/run-20241029_193708-lww0ywc9/run-lww0ywc9.wandb
wandb/run-20241029_193708-lww0ywc9/files/config.yaml
wandb/run-20241029_193708-lww0ywc9/files/wandb-metadata.json
wandb/run-20241029_193708-lww0ywc9/files/wandb-summary.json
wandb/run-20241029_193742-mzrrkefu/run-mzrrkefu.wandb
wandb/run-20241029_193742-mzrrkefu/files/config.yaml
wandb/run-20241029_193742-mzrrkefu/files/wandb-metadata.json
wandb/run-20241029_193742-mzrrkefu/files/wandb-summary.json
wandb/run-20241029_210019-4y0h5npz/run-4y0h5npz.wandb
wandb/run-20241029_210019-4y0h5npz/files/config.yaml
wandb/run-20241029_210019-4y0h5npz/files/requirements.txt
wandb/run-20241029_210019-4y0h5npz/files/wandb-metadata.json
wandb/run-20241029_210019-4y0h5npz/files/wandb-summary.json
wandb/run-20241029_210135-c7x61e7p/run-c7x61e7p.wandb
wandb/run-20241029_210135-c7x61e7p/files/config.yaml
wandb/run-20241029_210135-c7x61e7p/files/wandb-metadata.json
wandb/run-20241029_210135-c7x61e7p/files/wandb-summary.json
wandb/run-20241029_211116-2mbblyay/run-2mbblyay.wandb
wandb/run-20241029_211116-2mbblyay/files/config.yaml
wandb/run-20241029_211116-2mbblyay/files/requirements.txt
wandb/run-20241029_211116-2mbblyay/files/wandb-metadata.json
wandb/run-20241029_211116-2mbblyay/files/wandb-summary.json
wandb/run-20241029_211243-gy32yybv/run-gy32yybv.wandb
wandb/run-20241029_211243-gy32yybv/files/config.yaml
wandb/run-20241029_211243-gy32yybv/files/wandb-metadata.json
wandb/run-20241029_211243-gy32yybv/files/wandb-summary.json
wandb/run-20241029_211354-2anwzsg0/run-2anwzsg0.wandb
wandb/run-20241029_211354-2anwzsg0/files/config.yaml
wandb/run-20241029_211354-2anwzsg0/files/wandb-metadata.json
wandb/run-20241029_211354-2anwzsg0/files/wandb-summary.json
wandb/run-20241029_211707-wmnun7v5/run-wmnun7v5.wandb
wandb/run-20241029_211707-wmnun7v5/files/config.yaml
wandb/run-20241029_211707-wmnun7v5/files/wandb-metadata.json
wandb/run-20241029_211707-wmnun7v5/files/wandb-summary.json
wandb/run-20241029_211735-cuwhho4g/run-cuwhho4g.wandb
wandb/run-20241029_211735-cuwhho4g/files/config.yaml
wandb/run-20241029_211735-cuwhho4g/files/requirements.txt
wandb/run-20241029_211735-cuwhho4g/files/wandb-metadata.json
wandb/run-20241029_211735-cuwhho4g/files/wandb-summary.json
wandb/run-20241029_212027-m2wv1sho/run-m2wv1sho.wandb
wandb/run-20241029_212027-m2wv1sho/files/config.yaml
wandb/run-20241029_212027-m2wv1sho/files/wandb-metadata.json
wandb/run-20241029_212027-m2wv1sho/files/wandb-summary.json
wandb/run-20241029_212123-alzs05nm/run-alzs05nm.wandb
wandb/run-20241029_212123-alzs05nm/files/config.yaml
wandb/run-20241029_212123-alzs05nm/files/requirements.txt
wandb/run-20241029_212123-alzs05nm/files/wandb-metadata.json
wandb/run-20241029_212123-alzs05nm/files/wandb-summary.json
wandb/run-20241029_212127-28t799ta/run-28t799ta.wandb
wandb/run-20241029_212127-28t799ta/files/config.yaml
wandb/run-20241029_212127-28t799ta/files/requirements.txt
wandb/run-20241029_212127-28t799ta/files/wandb-metadata.json
wandb/run-20241029_212127-28t799ta/files/wandb-summary.json
wandb/run-20241029_212244-ynbp0co5/run-ynbp0co5.wandb
wandb/run-20241029_212244-ynbp0co5/files/config.yaml
wandb/run-20241029_212244-ynbp0co5/files/wandb-metadata.json
wandb/run-20241029_212244-ynbp0co5/files/wandb-summary.json
wandb/run-20241029_212251-qkrqivxg/run-qkrqivxg.wandb
wandb/run-20241029_212251-qkrqivxg/files/config.yaml
wandb/run-20241029_212251-qkrqivxg/files/requirements.txt
wandb/run-20241029_212251-qkrqivxg/files/wandb-metadata.json
wandb/run-20241029_212251-qkrqivxg/files/wandb-summary.json
wandb/run-20241029_212417-yogbw9g9/run-yogbw9g9.wandb
wandb/run-20241029_212417-yogbw9g9/files/config.yaml
wandb/run-20241029_212417-yogbw9g9/files/requirements.txt
wandb/run-20241029_212417-yogbw9g9/files/wandb-metadata.json
wandb/run-20241029_212417-yogbw9g9/files/wandb-summary.json
wandb/run-20241029_212540-rc7yor8e/run-rc7yor8e.wandb
wandb/run-20241029_212540-rc7yor8e/files/config.yaml
wandb/run-20241029_212540-rc7yor8e/files/requirements.txt
wandb/run-20241029_212540-rc7yor8e/files/wandb-metadata.json
wandb/run-20241029_212540-rc7yor8e/files/wandb-summary.json
wandb/run-20241029_214003-bdr692zj/run-bdr692zj.wandb
wandb/run-20241029_214003-bdr692zj/files/config.yaml
wandb/run-20241029_214003-bdr692zj/files/requirements.txt
wandb/run-20241029_214003-bdr692zj/files/wandb-metadata.json
wandb/run-20241029_214003-bdr692zj/files/wandb-summary.json
wandb/run-20241029_214537-g2ogm999/run-g2ogm999.wandb
wandb/run-20241029_214537-g2ogm999/files/config.yaml
wandb/run-20241029_214537-g2ogm999/files/requirements.txt
wandb/run-20241029_214537-g2ogm999/files/wandb-metadata.json
wandb/run-20241029_214537-g2ogm999/files/wandb-summary.json
wandb/run-20241029_214904-p7kk4rxw/run-p7kk4rxw.wandb
wandb/run-20241029_214904-p7kk4rxw/files/config.yaml
wandb/run-20241029_214904-p7kk4rxw/files/requirements.txt
wandb/run-20241029_214904-p7kk4rxw/files/wandb-metadata.json
wandb/run-20241029_214904-p7kk4rxw/files/wandb-summary.json
wandb/run-20241029_215104-n98661gi/run-n98661gi.wandb
wandb/run-20241029_215104-n98661gi/files/config.yaml
wandb/run-20241029_215104-n98661gi/files/requirements.txt
wandb/run-20241029_215104-n98661gi/files/wandb-metadata.json
wandb/run-20241029_215104-n98661gi/files/wandb-summary.json
wandb/run-20241029_224246-zyd7c5le/run-zyd7c5le.wandb
wandb/run-20241029_224246-zyd7c5le/files/config.yaml
wandb/run-20241029_224246-zyd7c5le/files/requirements.txt
wandb/run-20241029_224246-zyd7c5le/files/wandb-metadata.json
wandb/run-20241029_224246-zyd7c5le/files/wandb-summary.json
wandb/run-20241029_225145-djyglz7d/run-djyglz7d.wandb
wandb/run-20241029_225145-djyglz7d/files/config.yaml
wandb/run-20241029_225145-djyglz7d/files/requirements.txt
wandb/run-20241029_225145-djyglz7d/files/wandb-metadata.json
wandb/run-20241029_225145-djyglz7d/files/wandb-summary.json
wandb/run-20241029_230015-sk6vbn7n/run-sk6vbn7n.wandb
wandb/run-20241029_230015-sk6vbn7n/files/config.yaml
wandb/run-20241029_230015-sk6vbn7n/files/wandb-metadata.json
wandb/run-20241029_230015-sk6vbn7n/files/wandb-summary.json
wandb/run-20241029_230240-ha4ija5u/run-ha4ija5u.wandb
wandb/run-20241029_230240-ha4ija5u/files/config.yaml
wandb/run-20241029_230240-ha4ija5u/files/requirements.txt
wandb/run-20241029_230240-ha4ija5u/files/wandb-metadata.json
wandb/run-20241029_230240-ha4ija5u/files/wandb-summary.json
wandb/run-20241029_230443-9sy6t66f/run-9sy6t66f.wandb
wandb/run-20241029_230443-9sy6t66f/files/config.yaml
wandb/run-20241029_230443-9sy6t66f/files/requirements.txt
wandb/run-20241029_230443-9sy6t66f/files/wandb-metadata.json
wandb/run-20241029_230443-9sy6t66f/files/wandb-summary.json
wandb/run-20241029_230551-f4s85flj/run-f4s85flj.wandb
wandb/run-20241029_230551-f4s85flj/files/config.yaml
wandb/run-20241029_230551-f4s85flj/files/requirements.txt
wandb/run-20241029_230551-f4s85flj/files/wandb-metadata.json
wandb/run-20241029_230551-f4s85flj/files/wandb-summary.json
wandb/run-20241029_234027-5kdwb6m5/run-5kdwb6m5.wandb
wandb/run-20241029_234027-5kdwb6m5/files/config.yaml
wandb/run-20241029_234027-5kdwb6m5/files/wandb-metadata.json
wandb/run-20241029_234027-5kdwb6m5/files/wandb-summary.json
wandb/run-20241029_234622-il15k1ul/run-il15k1ul.wandb
wandb/run-20241029_234622-il15k1ul/files/config.yaml
wandb/run-20241029_234622-il15k1ul/files/wandb-metadata.json
wandb/run-20241029_234622-il15k1ul/files/wandb-summary.json
wandb/run-20241029_234738-nqa8gkee/run-nqa8gkee.wandb
wandb/run-20241029_234738-nqa8gkee/files/config.yaml
wandb/run-20241029_234738-nqa8gkee/files/wandb-metadata.json
wandb/run-20241029_234738-nqa8gkee/files/wandb-summary.json
wandb/run-20241030_104139-o1er7dlf/run-o1er7dlf.wandb
wandb/run-20241030_104139-o1er7dlf/files/config.yaml
wandb/run-20241030_104139-o1er7dlf/files/wandb-metadata.json
wandb/run-20241030_104139-o1er7dlf/files/wandb-summary.json
wandb/run-20241030_104626-wxta56vy/run-wxta56vy.wandb
wandb/run-20241030_104626-wxta56vy/files/config.yaml
wandb/run-20241030_104626-wxta56vy/files/wandb-metadata.json
wandb/run-20241030_104626-wxta56vy/files/wandb-summary.json
wandb/run-20241030_114304-bseo1m6d/run-bseo1m6d.wandb
wandb/run-20241030_114304-bseo1m6d/files/config.yaml
wandb/run-20241030_114304-bseo1m6d/files/wandb-metadata.json
wandb/run-20241030_114304-bseo1m6d/files/wandb-summary.json
wandb/run-20241030_121219-40i2hvnh/run-40i2hvnh.wandb
wandb/run-20241030_121219-40i2hvnh/files/config.yaml
wandb/run-20241030_121219-40i2hvnh/files/wandb-metadata.json
wandb/run-20241030_121219-40i2hvnh/files/wandb-summary.json
wandb/run-20241030_121240-dd4xcwk6/run-dd4xcwk6.wandb
wandb/run-20241030_121240-dd4xcwk6/files/requirements.txt
wandb/run-20241030_121240-dd4xcwk6/files/wandb-metadata.json
fq_model.dot
